*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background: linear-gradient(45deg, #1a1a2e, #000);
    color: aliceblue;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #6d6ddd;
}

#timer {
    position: absolute;
    z-index: 2;
    height: 280px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 4.5px;
    background: transparent;
}


.container h1{
    font-size: 22px;
    margin: 10px 0 30px 0;
}

.buttons{
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button{
    width: 100px;
    height: 38px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 19px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}

#startstopBtn{
    background-color: #8080ff;
    color: #fff;
}

#startstopBtn:hover{
    background-color: #6d6ddd;
    scale: 1.05;
    transition: 0.3s;
}

#resetBtn{
    background-color: #e0e0e0;
    color: #000;
}

#resetBtn:hover{
    background-color: #c1c1c1;
    scale: 1.05;
    transition: 0.3s;
}

.progress-container {
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
    z-index: 1;
}

.progress-ring__circle {
    stroke: #8080ff;
    stroke-width: 10;
    fill: transparent;
    stroke-dasharray: 816;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s linear;
}

.counter {
    margin-bottom: 15px;
    font-size: 16px;
}
